
.form-slip{  
    max-width: 50em;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.card-example{
    width: 25%;
    padding: .5% 1%;
    border: solid red 1px;
    display: flex;
    flex-direction: row;
}

.button{
    background-color: lightblue;
    border-radius: 15%;
    cursor: pointer;
}

#new-book-form{ /** To keep the form hidden until it is clicked on **/
    display: none;
}

.form-slip h2{
    text-align: center;
}

.form-row, .form-button-row{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}