
.form-slip{  
    width: 100%;
    padding: .5%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.card-example{
    width: 25%;
    padding: .5% 1%;
    border: solid red 1px;
    display: flex;
    flex-direction: row;
}

